<h2><%= @photo.caption %></h2>
<%= image_tag @photo.image %>

<h3>Comentarios:</h3>
<% @photo.comments.includes(:user).each do |comment| %>
  <div>
    <%= image_tag comment.user.profile_picture.url if comment.user.profile_picture.present? %>
    <strong><%= comment.user.email %>:</strong>
    <p><%= comment.content %></p>
  </div>
<% end %>

<h4>Agregar un comentario:</h4>
<%= form_with(model: [@photo, Comment.new], local: true) do |form| %>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  
  <div class="actions">
    <%= form.submit "Comentar" %>
  </div>
<% end %>
